@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #3e3e3e;
    overflow-y: auto;
}

body.modal_open{
    overflow: hidden;
}

header{
    width: 100%;
    height: 80px;
    background-color: #000;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    img{
        width: 100px;
    }

    .rules{
        display: flex;
        font-weight: 600;
        div:first-child{
            margin-right: 15px;
        }
        .rules_of_build:hover{
            cursor: pointer;
        }
        .review:hover{
            cursor: pointer;
        }
    }
}

.info{
    background-color: #111;
    color: #fff;
    padding: 20px;

    h1{
        margin-bottom: 20px;
    }

    .adress{
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .place, .contact, .day{
            padding: 8px 15px;
            border: 2px solid gold;
            border-radius: 26px;
            font-weight: 600;
            display: flex;
            align-items: center;

            a{
                text-decoration: none;
                color: #fff;
                display: flex;
                align-items: center;
            }

            img{
                margin-right: 5px;
            }
        }

        div:not(:last-child){
            margin-right: 15px;
        }
    }
}

.menu{
    padding: 20px 40px;
    position: initial;
    width: 100%;
    background-color: transparent;
    .toggle_menu ul{
        width: 800px;
        justify-content: space-between;
        display: flex;
        align-items: center;

        .menu_item.active{
            background-color: rgb(160, 160, 160);
            box-shadow: 0px 0px 20px rgb(88, 88, 88);
        }

        li{
            list-style-type: none;
            border-radius: 20px;
            background-color: #111;
            padding: 10px 20px;
            text-transform: uppercase;
            img{
                margin-right: 10px;
            }
            a{
                color: #fff;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
    .smoke_menu, .tea_menu, .bar_menu, .drinks_menu, .snacks_menu{
        margin-top: 20px;
        ul{
            display: flex;
            align-items: center;
            li{
                list-style-type: none;
                border-radius: 20px;
                background-color: #111;
                padding: 6px 12px;
                font-weight: 600;

                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
            li:not(:last-child){
                margin-right: 15px;
            }
        }
    }
    .smoke_menu.hidden, .tea_menu.hidden, .bar_menu.hidden, .drinks_menu.hidden, .snacks_menu.hidden{
        display: none;
    }
    .smoke_menu.active, .tea_menu.active, .bar_menu.active, .drinks_menu.active, .snacks_menu.active{
        display: flex;
    }
}

.menu.hidden{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #878787;
    box-shadow: 2px 4px 20px rgb(0, 0, 0);
}

.selector {
    padding: 0px 20px;
    ul li{
        list-style-type: none;
        h4{
            margin: 20px 0px 10px 0px;
            font-size: 20px;
            color: #fff;
        }
        .item_menu{
            background-color: #111;
            border-radius: 10px;
            padding: 10px 10px;
            justify-content: space-between;
            display: flex;
            align-items: center;
            color: #fff;
            font-weight: 600;
            height: 60px;
            .info_item{
                text-align: right;

                p:nth-child(even){
                    font-size: 12px;
                    margin-top: 4px;
                    color: #b2b2b2;
                }
            }
        }
        .item_menu:not(:last-child){
            margin-bottom: 20px;
        }
    }
}
.selector.hidden{
    display: none;
}
.selector.mt20{
    margin-top: 129.33px;
}

$width: 200px;
$height: 200px;

.rules_modal, .review_modal{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;

    .content{
        background-color: rgb(0, 0, 0);
        padding: 40px;
        border-radius: 15px;
        color: #fff;
        border: 2px solid gold;
        h3{
            font-size: 40px;
            margin-bottom: 50px;
        }
        .item{
            margin-top: 30px;
            width: 600px;
            h4{
                font-size: 25px;
            }
            p{
                font-size: 18px;
                font-weight: 600;
                color: #b2b2b2;
                margin-top: 5px;
            }
        }
        .social{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                text-decoration: none;   
            }
            h4{
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                color: #fff;
            }
            a:not(:last-child){
                margin-right: 50px;
            }
            img{
                width: 150px;
            }
        }
    }
}

.rules_modal.active, .review_modal.active{
    display: flex;
}