@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #3e3e3e;
  overflow-y: auto;
}

body.modal_open {
  overflow: hidden;
}

header {
  width: 100%;
  height: 80px;
  background-color: #000;
  color: gold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
header img {
  width: 100px;
}
header .rules {
  display: flex;
  font-weight: 600;
}
header .rules div:first-child {
  margin-right: 15px;
}
header .rules .rules_of_build:hover {
  cursor: pointer;
}
header .rules .review:hover {
  cursor: pointer;
}

.info {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
.info h1 {
  margin-bottom: 20px;
}
.info .adress {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.info .adress .place, .info .adress .contact, .info .adress .day {
  padding: 8px 15px;
  border: 2px solid gold;
  border-radius: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.info .adress .place a, .info .adress .contact a, .info .adress .day a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.info .adress .place img, .info .adress .contact img, .info .adress .day img {
  margin-right: 5px;
}
.info .adress div:not(:last-child) {
  margin-right: 15px;
}

.menu {
  padding: 20px 40px;
  position: initial;
  width: 100%;
  background-color: transparent;
}
.menu .toggle_menu ul {
  width: 800px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.menu .toggle_menu ul .menu_item.active {
  background-color: rgb(160, 160, 160);
  box-shadow: 0px 0px 20px rgb(88, 88, 88);
}
.menu .toggle_menu ul li {
  list-style-type: none;
  border-radius: 20px;
  background-color: #111;
  padding: 10px 20px;
  text-transform: uppercase;
}
.menu .toggle_menu ul li img {
  margin-right: 10px;
}
.menu .toggle_menu ul li a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.menu .smoke_menu, .menu .tea_menu, .menu .bar_menu, .menu .drinks_menu, .menu .snacks_menu {
  margin-top: 20px;
}
.menu .smoke_menu ul, .menu .tea_menu ul, .menu .bar_menu ul, .menu .drinks_menu ul, .menu .snacks_menu ul {
  display: flex;
  align-items: center;
}
.menu .smoke_menu ul li, .menu .tea_menu ul li, .menu .bar_menu ul li, .menu .drinks_menu ul li, .menu .snacks_menu ul li {
  list-style-type: none;
  border-radius: 20px;
  background-color: #111;
  padding: 6px 12px;
  font-weight: 600;
}
.menu .smoke_menu ul li a, .menu .tea_menu ul li a, .menu .bar_menu ul li a, .menu .drinks_menu ul li a, .menu .snacks_menu ul li a {
  color: #fff;
  text-decoration: none;
}
.menu .smoke_menu ul li:not(:last-child), .menu .tea_menu ul li:not(:last-child), .menu .bar_menu ul li:not(:last-child), .menu .drinks_menu ul li:not(:last-child), .menu .snacks_menu ul li:not(:last-child) {
  margin-right: 15px;
}
.menu .smoke_menu.hidden, .menu .tea_menu.hidden, .menu .bar_menu.hidden, .menu .drinks_menu.hidden, .menu .snacks_menu.hidden {
  display: none;
}
.menu .smoke_menu.active, .menu .tea_menu.active, .menu .bar_menu.active, .menu .drinks_menu.active, .menu .snacks_menu.active {
  display: flex;
}

.menu.hidden {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #878787;
  box-shadow: 2px 4px 20px rgb(0, 0, 0);
}

.selector {
  padding: 0px 20px;
}
.selector ul li {
  list-style-type: none;
}
.selector ul li h4 {
  margin: 20px 0px 10px 0px;
  font-size: 20px;
  color: #fff;
}
.selector ul li .item_menu {
  background-color: #111;
  border-radius: 10px;
  padding: 10px 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  height: 60px;
}
.selector ul li .item_menu .info_item {
  text-align: right;
}
.selector ul li .item_menu .info_item p:nth-child(even) {
  font-size: 12px;
  margin-top: 4px;
  color: #b2b2b2;
}
.selector ul li .item_menu:not(:last-child) {
  margin-bottom: 20px;
}

.selector.hidden {
  display: none;
}

.selector.mt20 {
  margin-top: 129.33px;
}

.rules_modal, .review_modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.473);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
.rules_modal .content, .review_modal .content {
  background-color: rgb(0, 0, 0);
  padding: 40px;
  border-radius: 15px;
  color: #fff;
  border: 2px solid gold;
}
.rules_modal .content h3, .review_modal .content h3 {
  font-size: 40px;
  margin-bottom: 50px;
}
.rules_modal .content .item, .review_modal .content .item {
  margin-top: 30px;
  width: 600px;
}
.rules_modal .content .item h4, .review_modal .content .item h4 {
  font-size: 25px;
}
.rules_modal .content .item p, .review_modal .content .item p {
  font-size: 18px;
  font-weight: 600;
  color: #b2b2b2;
  margin-top: 5px;
}
.rules_modal .content .social, .review_modal .content .social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rules_modal .content .social a, .review_modal .content .social a {
  text-decoration: none;
}
.rules_modal .content .social h4, .review_modal .content .social h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.rules_modal .content .social a:not(:last-child), .review_modal .content .social a:not(:last-child) {
  margin-right: 50px;
}
.rules_modal .content .social img, .review_modal .content .social img {
  width: 150px;
}

.rules_modal.active, .review_modal.active {
  display: flex;
}/*# sourceMappingURL=style.css.map */